{% extends "base_generic.html" %}
{% load static %}
{% block title %}
<title>JoraTech|New Employee</title>
{% endblock %}
{% block content %}

<!-- <p> Write only for vehicle transport services.
  quantity of vehicles <br/>
  quantity of batteries<br/>
  quantity of accessories<br/>
  scan for vehicle qr to add to package<br/>
  scan battery qr for adding battery or manually type the serial<br/>
</p> -->
<div id="result-div" style="width:100%;">
<form id="member_form" class='forms' method="post" autocomplete="off" hx-post="{% url 'adding_member' %}" hx-swap="innerHTML" hx-target="#result-div">
  {% csrf_token %}
  <div class="libtn-grp">
    <P>New Employee No.<em style="font-weight: 700;">{{ id }}</em></P>
  </div>
  <section class="libtn-grp">
    <label class="libtn-label">Employee Name : </label>
    <input class="libtn" name="employee_name" id="employee_name" placeholder="Employee Name" required/>
  </section>
  <section class="libtn-grp">
    <label class="libtn-label">Address : </label>
    <textarea class="libtn" style="flex-grow: 1;" name="employee_address"></textarea>
  </section>
  <section class="libtn-grp">
    <label class="libtn-label">Phone No.: </label>
    <input type="number" class="libtn" id="employee_phone" name="employee_phone" placeholder="Employee Phone no." required/>
  </section>
  <section class="libtn-grp">
    <label class="libtn-label">Age : </label>
    <input id="employee_age" name="employee_age" type="number" value="14" min="14" max="100" title="employee_age" class="libtn" required/>
  </section>
  <section class="libtn-grp">
    <label class="libtn-label">Access Password : </label>
    <input class="libtn" id="employee_password" name="employee_password" placeholder="Employee Access Password" type="password" required/>
  </section>
  <section>
    <label class="libtn-label">Admin_access : </label>
    <div class="libtn-grp" style="flex-grow: 1;">
      <input class="libtn" name="employee_is_admin" id="employee_is_admin" type="checkbox"/>
      <label for="employee_is_admin" class="libtn">Is Admin</label>
    </div>
  </section>
    <div class="libtn-grp">
        <input type="submit" value="Add Employee" class="libtn"/>
        <input type="reset" value="Reset" class="libtn"/>
    </div>
</form>
</div>
{% endblock %}
{% block extra_scripts %}
<script></script>
{% endblock %}
{% block extra_data %}
<h5>Instructions</h5>
<p style='font-size: 12px; padding: 2%;'>The values are as follows:<br>
  <em style='font-weight: 700;'>New Employee no:</em> Indicates employee number<br><br>
  <em style='font-weight: 700;'>Employee Name:</em> Name of the Employee who will be assigned to teams.<br><br>
  <em style='font-weight: 700;'>Address :</em> Address of the registered employee.<br><br>
  <em style='font-weight: 700;'>Phone No.:</em> Phone no. of the employee.<br><br>
  <em style='font-weight: 700;'>Password :</em> Password for the employee to acess the app.<br><br>
  <em style='font-weight: 700;'>Admin Access :</em> Indicates if the employee has access to everything.<br><br>
  <em style='font-weight: 700;'>Submit :</em> To add the values and register the employee under the company.<br><br>
  <em style='font-weight: 700;'>Reset :</em> To clear all the values in the form and return to default state.<br><br>
</p>
{% endblock %}