{% extends "base_generic.html" %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
<title>Categories</title>
{% endblock %}
{% block content %}
<div class="data-table">
    <h2>Title</h2>
    <div class="table-div">
        <span>
            <table>
                <thead><tr><th>.</th></tr></thead>
                <tbody>
            {% for i in serial %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </span>
        <span>
            <table>
                <thead><tr><th>Model</th><th>Varient</th><th>Location</th><th>Quantity</th></tr></thead>
                <tbody>
            {% for val in data_table %}
                <tr>
                   <td>{{val.Model}}</td>
                   <td>{{val.Varient}}</td>
                   <td>{{val.Location}}</td>
                   <td>{{val.Quantity}}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            </div>
            
        </span>
    </div>

{% endblock %}
{% block extra_data %}
<a href="#" class="libtn">Current Stock<span></span></a>
<a href="{% url 'workshop'%}" class="libtn">Incoming Stock<span></span></a>
<a href="{% url 'insurance'%}" class="libtn">Outgoing Stock<span></span></a>
<a href="{% url 'department'%}" class="libtn">Damaged Stock<span></span></a>
{% endblock %}
{% block extra_scripts %}
  <!-- <script src="{% static 'js/stocks.js' %}"></script>
  <script>
    $(document).ready(function(){
        $.ajax({
                  url: '{% url "get_sub" %}',
                  success: function(data) {
                      // $('#subDate').text(data.subscription);
                  }
        });
      });
  </script> -->
{% endblock %}