.sidebar-nav {
  display: flex;
  margin-top: 10px;
  flex-direction:column; 
  width:fit-content;
  position:fixed;
} 

footer{
  position:fixed;
  /* margin-top:auto; */
  display:flex;
  border-radius:10px;
  /* background: linear-gradient(90deg,rgb(4, 142, 255),white,rgb(4, 142, 255)); */
  height: 3rem;
  width:80%;
  margin-left:2%;
  margin-right:2%;
  flex-direction: column;
  bottom:0;
}
.dom{
  flex-direction: column;
  /* min-height: 85vh; */
  padding-bottom: 4rem;
  display:flex;
}
/* body{
  flex-direction: column;
  min-height: 97vh;
  display:flex;
} */
.btn-links:hover{
  visibility:visible;
}

[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
  visibility: hidden;
  position: relative;
  width:auto;
  /* top: 1rem; */
  left: 1%;
  background: linear-gradient(90deg,rgb(189, 154, 255),rgb(85, 207, 255));
  color: black;
  padding:5px;
  border-radius: 5px;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
  visibility: visible;
}
