{% extends "base_generic.html" %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
<title>JoraTech|Track Logistics </title>
{% endblock %}
{% block content %}
<a href="{% url 'package_history'%}" class="libtn"><p>Load History<span></span></p>
  <p>View past packages</p></a>

<a href="{% url 'new_package' %}" class="libtn"><p>New Load<span></span></p>
  <p>Place order of new packages</p></a>

<a href="{% url 'network' %}" class="libtn"><p>Network<span></span></p>
  <p>Manage network members for different locations</p></a>

<a href="{% url 'network_accounts' %}" class="libtn"><p>Network Accounts<span></span></p>
  <p>Manage network members for different locations</p></a>

{% endblock %}
{% block extra_data %}
<div><a class="libtn" id="sidebar-icon">Active Status<span></span></a></div>
<div id="sidebar-content"> add link to view currently active package deliveries</div>
{% endblock %}
{% block scripts %}

{% comment %} {% endcomment %}
{% comment %} <script>
  $(document).ready(function(){
    $ajax({
      url:'{% url "get_dashboard" %}',
      success: function(data){
        $('#vehicle-data').text(data.vehicle_data);
      },
      
    });
  });
</script> {% endcomment %}
{% endblock %}
