#main a{
    transition:1s;
    font-size:1.5em;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    margin-top:5%;
    width:30%;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    margin:0.5rem;
    padding:0.5rem;
    text-wrap: wrap;
    overflow-x:hidden;
    text-decoration: none;
    height:50dvh;
    cursor:pointer;
    border: 3px solid var(--color-3-3);
    box-shadow:5px 3px var(--color-3-2);
    text-align:start;
    justify-content:center;
    
}

/* #main a:hover{
    box-shadow: 5px -5px transparent;
    border: 1rem double var(--color-3-5);
    transform:scale(102%);
    transition:ease-in-out 0.5s;
    text-shadow: none;
    background-blend-mode:normal;
    width:100%; 
} */

@media screen and (max-width:800px){
    html,body{
        font-size:1rem;
    }
    #logo{
        font-size:1.3em;
    }
     #link-list{
        display:none;
     }  

    .libtn{
        display:flex;
    }
    .menulist{
        display:block;
    }

    #main a{
        writing-mode: vertical-lr;
        justify-content: start;
    }
    #main a:hover{
        p{
            background-image: linear-gradient(red, yellow, pink);
        }
    }
    footer {
        overflow: scroll;
        p{
            width:100%;
        }
    }

}

@media screen and (max-width:1280px) and (max-height:768px){
    html,body{
        font-size:1rem;
    }
}

footer{
    box-sizing: border-box;
    color:var(--color-3-3);
    padding:5%;
    overflow-y:hidden;
    display:flex;
    flex-direction:column;
    p{
        text-decoration: none;
        /* color:white; */
        font-size:1rem;
    }
}