{% extends "base_generic.html" %}

{% block content %}
<div class="dom">
  <h1>Tegh LLC</h1>
  <p>
    A management for dealerships and local stores
    <em>By Japneet Singh</em>!
  </p>
  <div style="display:flex;">
    <!-- <a href="{url 'dealership'}" style="border-radius: 5px; border: 2px;">For Dealership Owners</a>
    <a href="{url 'stores'}">For Store Owners</a> -->
  </div>
</div>
  <!-- <footer class="btn-group">
    <div style="margin-bottom: auto;">

    </div>
    <a href="https://lordicon.com/" class="col-md-3 offset-md-9 text-success">
      <em>Icons by Lordicon.com</em>
    </a>
  </footer> -->
{% endblock %}
