{% extends "base_generic.html" %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
<title>Dashboard</title>
{% endblock %}
{% block content %}
<a href="{% url 'current' %}" class="libtn"><p>Current Stock<span></span></p>
  <p>View detailed inventory.</p></a>
<a href="{% url 'workshop'%}" class="libtn"><p>Incoming Stock<span></span></p>
  <p>View upcoming stock details.</p></a>
<a href="{% url 'insurance'%}" class="libtn"><p>Outgoing Stock<span></span></p>
  <p>View outgoing stock details.</p></a>
<a href="{% url 'teams'%}" class="libtn"><p>Damaged Stock<span></span></p>
  <p>View damaged stock records.</p></a>
{% endblock %}
{% block extra_data %}
<a class="libtn" href="{% url 'write_data' %}">Add<span></span></a>
{% if perms.usercore.is_admin %}
<a class="libtn" href="{% url 'get_catandloc' %}">Add Categories and Locations<span></span></a>
{% endif %}
<a class="libtn" href="#">Delete<span></span></a>
<a class="libtn" href="#">Update<span></span></a>
<a class="libtn" href="#">Search<span></span></a>
{% endblock %}
{% block extra_scripts %}
  <!-- <script src="{% static 'js/stocks.js' %}"></script> -->
  <script>
    $(document).ready(function(){
        $.ajax({
                  url: '{% url "get_sub" %}',
                  success: function(data) {
                      // $('#subDate').text(data.subscription);
                  }
        });
      });
  </script>
{% endblock %}