{% extends 'registration/base.html' %} {% block content %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
<link href="{% static 'css/user.css' %}" rel="stylesheet"/>
<section>
      <div id="content">
        <form method="post" action="{% url 'login' %}" class="forms">
          {% csrf_token %}
          <div class="form-group" style="flex-direction: column;">
            {{ form.username.label_tag }}
            <input
              type="text"
              name="username"
              class="form-control"
              maxlength="150"
              id="id_username"
              required
            />
          </div>
          <div class="form-group"  style="flex-direction: column;">
            {{ form.password.label_tag }}
            <input
              type="password"
              name="password"
              class="form-control"
              id="id_password"
              required
            />
          </div>
          {% if form.non_field_errors %} {% for error in form.non_field_errors %}
          <p style="font-size: 13px;">
            {{ error|escape }}
          </p>
          {% endfor %} {% endif %}
          <div class="libtn-grp">
            <input type="submit" class="libtn" value="Login"/>
            <input href="{% url 'register' %}" class="libtn" value="Register" type="button"/>
          </div>
          <div>Forgot Password? <a href="{% url 'password_reset' %}">Click here</a>, to reset.</div>
        </form>
      </div>
</section>
<section>
<div id="login-info">
    <p>
      Log in to your Management system. Manage all your data in one place.<br><br>
      <em style="font-weight:700;">Username: </em>A case sensitive field.<br><br>
      <em style="font-weight:700;">Password: </em>A case sensitive field which protects your account on the platform.<br>
    </p>
  </div>
</section>

{% endblock %}