{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>JoraTech | HomePage</title>
    <meta name="description" content="JoraTech" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,height=device-height"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Moderustic:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MMC5696ZE4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MMC5696ZE4');
</script>
  <body>
    <div>
      <nav class="navi">
        <div>
                    <a href="{% url 'homepage' %}" style='text-decoration:none' id="logo"><text style="align-items:center;"><img src="{% static 'images/favicon.ico'%}" alt="logo" style="height:1.9rem;aspect-ratio:1;margin-bottom:0.3rem;"/>JoraTech</text><span></span></a></div>

        <div id="links">
          <ul id="link-list" style="justify-content: space-evenly">
            <li style="width: 8rem;"><a class="libtn" href="{% url 'services' %}">Our Services</a></li>
            <li style="width: 7rem;"><a class="libtn" href="{% url 'legacy' %}">Our Legacy</a></li>
            <li style="width: 7rem;"><a class="libtn" href="{% url 'future' %}">Our Future</a></li>
            <span id="home-nav-divide"></span>
            <li class="menulbl libtn" style="width: 7rem">
              <a href="#" style="width: 7rem; color:black;">Products
                <svg style="height:1rem; width:1rem;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
              </a>
              <ul class="menulist" style="font-size: 15px; max-width: 7rem">
                <li class="libtn">
                  <a href="{% url 'dealership' %}">For Dealership</a>
                </li>
                <li class="libtn"><a href="{% url 'store' %}">For Store</a></li>
              </ul>
            </li>
            <li class="libtn-grp" style="margin-left: 2%; width: 10rem">
              <a href="{% url 'index' %}" class="libtn" id="login-icon">
                <svg style="height:2rem; width:2rem;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg><p>Login</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="menulist">
          <a href="{% url 'index' %}" style="border-radius:100%; box-sizing: border-box;" class="libtn"><svg style="height:2rem; width:2rem;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg></a>
            
          <label class="libtn menulbl navlinks">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e8eaed"
            >
              <path
                d="M160-269.23v-40h640v40H160ZM160-460v-40h640v40H160Zm0-190.77v-40h640v40H160Z"
              />
            </svg>
            <span></span>
            <ul class="menulist">
              <li class="libtn"><a href="{% url 'dealership' %}">For Dealership</a><span></span></li>
              <li class="libtn"><a href="{% url 'store' %}">For Store Owners</a><span></span></li>
              <li class="libtn"><a href="{% url 'legacy' %}">Our Legacy</a><span></span></li>
              <li class="libtn"><a href="{% url 'future' %}">Our Future</a><span></span></li></ul></label>
        </div>
      </nav>
    </div>
    {% block content %} {% endblock %}
<footer>
    <p>Contact-us:<br>
    <a>Joratech@yahoo.com</a><br>
    Jortech Software Solutions <br>
  <a href="{% url 'future' %}" class="libtn">Our Future<span></span></a><br>
  <a href="{% url 'legacy' %}" class="libtn">Our Legacy<span></span></a>
  </p>

    
</footer>
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
