{% extends 'base.html' %}
{% block content %}
{%load static%}
<link href = "{% static 'css/styles.css' %}" rel="stylesheet">
<link href = "{% static 'css/legacy.css' %}" rel="stylesheet">
<div id="main">
    <div class="top-head">
        <h2>Bheem Dealership Management</h2>
    </div>
    <div id="bheem">
        <img src="{% static 'images/bheem.png' %}" height="100%" alt="bheem-dashboard"/>
        <p>
        A Feature loaded system to manage all your requirments.<br>
        From customer feedback to stock management.<br>
        (Work in progress)<br>
        <a href="{% url 'index' %}" class="libtn">Try now<span></span></a>
    </p>
    </div>
</div>
{% endblock %}